# Regression Module Project: Estimating Zillow Home Value

#### Project Scenario:
You are a junior data scientist on the Zillow data science team and recieve the following email in your inbox:

We want to be able to predict the property tax assessed values ('taxvaluedollarcnt') of Single Family Properties that had a transaction during 2017.

We have a model already, but we are hoping your insights can help us improve it. I need recommendations on a way to make a better model. Maybe you will create a new feature out of existing ones that works better, try a non-linear regression algorithm, or try to create a different model for each county. Whatever you find that works (or doesn't work) will be useful. Given you have just joined our team, we are excited to see your outside perspective.

One last thing, Zach lost the email that told us where these properties were located. Ugh, Zach :-/. Because property taxes are assessed at the county level, we would like to know what states and counties these are located in.

-- The Zillow Data Science Team

## Import Required Libraries

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from acquire import get_zillow
from prepare import prepare_zillow

## Acquire the data

In [7]:
zillow = prepare_zillow()

Status: Acquiring data from cached csv file..

In [11]:
zil = get_zillow()
zil

Status: Acquiring data from cached csv file..

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,fips,transactiondate
0,3.0,2.0,1048.0,380118.0,1952.0,6037.0,2017-01-13
1,3.0,2.0,1324.0,518089.0,1963.0,6037.0,2017-01-13
2,4.0,3.0,3551.0,1609238.0,1994.0,6037.0,2017-01-13
3,4.0,3.0,2519.0,106406.0,1965.0,6037.0,2017-01-13
4,3.0,2.0,1285.0,369853.0,1955.0,6037.0,2017-01-13
...,...,...,...,...,...,...,...
52437,4.0,2.0,1248.0,399000.0,1949.0,6037.0,2017-09-13
52438,6.0,4.0,2989.0,607491.0,1979.0,6037.0,2017-09-13
52439,2.0,1.0,788.0,263032.0,1951.0,6037.0,2017-09-13
52440,4.0,3.0,2821.0,866027.0,1994.0,6059.0,2017-09-13
52441,3.0,3.0,1299.0,428087.0,1986.0,6059.0,2017-09-13

## Initial Data Explolatory Analysis